.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 64px;
  background-color: #01147c;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
  align-items: center;
  display: flex;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 70px;
  width: 30%;
  height: 40px;
}

.search input {
  display: flex;
  width: 90%;
  height: 100%;
  outline: none;
}
.search__icon {
  height: 24px;
  width: 24px;
  color: white;
}
.header_items {
  display: flex;
  margin-left: 150px;
  color: white;
  width: 35%;

  justify-content: space-around;
  align-items: center;
}
.home_icon {
  height: 24px;
  width: 24px;
  text-decoration: none;
}
.header_items span {
  margin-left: 2px;
}
.items_option {
  display: flex;
  align-items: center;
  color: #f6f6f6;
}
#span {
  color: rgb(246, 85, 85);
}
:link {
  text-decoration: none;
}
.login_option {
  margin-left: 20px;
  width: 90px;
  background-color: red;
}
.login_option button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: large;
  color: rgb(64, 0, 255);
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .search {
    display: none;
  }
  .header_items {
    display: flex;
    margin-left: 0;
    width: 70%;
    font-size: medium;
    text-decoration: none;
  }
}
